
a {
    text-decoration: none;
    color: white;
}

.sw {
    font-family: "Rubik Vinyl", sans-serif;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

body {
    background-image: url('/static/img/base_img.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Ysabeau Office", sans-serif;
    background-color: black;
}

.ol {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

::placeholder {
    color: white;
}

#spin {
    display: none;
    height: 70px;
    width: 70px;
}