<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Worldly</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% for msg in get_flashed_messages() %}
    <div class="alert">{{msg}}</div>
    {% endfor %}
    <nav>
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-name">
                    <span>Stay Worldly</span>
                </a>
            </div>
            <ul class="navbar-buttons">
                {% if 'username' not in session %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Log in</a></li>
                {% else %} 
                <li><a href="/user/{{session.get('username')}}">{{session.get('username')}}</a></li>
                <li><a href="/logout">Log out</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}Body content{% endblock %}
    
</body>
</html>