<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@100&display=swap" rel="stylesheet">
    <title>Stay Worldly</title>
</head>
<body>
    <!-- set navbar -->
        {{session}}
    <nav class="navbar navbar-expand-md navbar-dark bg-black"> 
        <div class="container-fluid">
        <a class="navbar-brand sw ps-3" href="/">Stay Worldly</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navtarget">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- make responsive -->
        <div class="collapse navbar-collapse justify-content-end" id="navtarget">
             <ul class="navbar-nav" id="navtarget">
                    <!-- determine which buttons to show based on session[username] -->
                    {% if 'username' not in session %}
                    <li class="nav-item">
                        <form class="nav-link text-end" action="/register">
                            <button type="submit" class="btn text-white" method="GET">Register</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form class="nav-link text-end" action="/login">
                            <button type="submit" class="btn text-white" method="GET">Log in</button>
                        </form>
                    </li>
                    {% else %} 
                    <li class="nav-item">
                        <form class="nav-link text-end" action="/user/{{session.get('username')}}">
                            <button type="submit" class="btn text-white" method="GET">{{session.get('username')}}</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form class="nav-link text-end" action="/" method="GET">
                            <button class="btn text-white">Find More Cities</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form class="nav-link text-end" action="/logout" method="POST">
                            <button type="submit" class="btn text-white">Log Out</button>
                        </form>
                    </li>
                    {% endif %}
             </ul> 
        </div>
        </div>
    </nav>
    <!-- show spinner during request -->
    <div class="d-flex text-center position-absolute top-50 start-50 z-1">
        <div class="spinner-border text-white" id="spin" role="status">
          <span class="visually-hidden"></span>
        </div>
    </div>
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-secondary text-center">{{msg}}</div>
    {% endfor %}
    {% block content %}Body content{% endblock %}
   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/app.js"></script>
</body>
</html>