{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<div class="text-center containter-fluid m-5 justify-content-center">
    <div class="row m-5">
        <div class="card col p-0 text-center">
            <img class="card-img img-fluid" src="{{image}}">
            <div class="card-img-overlay">
                <span class="card-title fw-bolder h1 position-absolute start-0 ol top-0 p-3">{{city_name}}, {{city_country}}</span>
            </div>
        </div>
    </div>
    <div class="row ">
        <form action="/save/{{city_name}}" method="POST">
            <button class="h1 loadbtn col-1 fw-bolder btn border-white text-white">Save City</button>
        </form>
    </div>
    <div class="justify-content-center row m-5">
        <div class="btn col-10 p-0 text-center">
            <span class="fw-bolder h1 text-white">A little about {{city_country}}</span>
                <p class="card-text fw-bolder border-white text-white h2">{{country_description}}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="btn col-10 col-xl-4 m-3 pt-2 p-0">
            <span class="card-text text-white fw-bolder h2">Lifestyle</span>
            <ul class="m-3 list-unstyled text-white h3 text-start">
                <li class="m-2"> Predominant Language(s):</li>
                <ul class="list-unstyled text-white h5 ">
                    {% for language in languages %}
                    <li class="m-2">- {{language}}</li>
                    {% endfor %}
                </ul> 
                <li class="m-2">Currency: {{currency}}</li>
                <li class="m-2">Population: {{population}}</li>       
                <li class="m-2">Driving side: {{driving}}</li>

            </ul>
        </div>
        <div class="btn col-10 col-xl-4 m-3 p-0 text-center">
        </div>
        <div class="btn col-10 col-xl-4 p-0 m-3 text-center ps-3">
            <p class="fw-bolder text-white h2 m-2">Weather</p>
            <ul class="list-unstyled text-white text-start h5">
                <li class="m-2 h4">Current Temperature in Celsius: {{c_temp}} degrees</li>
                <li class="m-2 h4">Current Temperature in Fahrenheit: {{temp}} degrees</li>
                <li class="m-2 h4">Current Conditions: {{description}}</li>
            </ul>
        </div>
        <div class="btn col-10 col-xl-4 m-3 pt-2 p-0 text-center">
            <p class="card-text fw-bolder text-white h2">Timezone</p>
            <ul class="list-unstyled text-white h5">
                <li class="m-2 h4">Timezone: {{timezone}}</li>
                {% if time_dif < 0 %}
                <li class="m-2 h4">{{city_short_name}} is {{time_dif * -1}} hours ahead of your employer timezone.</li>
                {% elif time_dif == 0 %}
                <li class="m-2 h4">This city is in the same timezone as your employer.</li>
                {% else %}
                <li class="m-2 h4">{{city_short_name}} is {{time_dif}} hours behind your employer timezone.</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}

