{% extends 'base.html' %}
{% block content %}
<h1 class="text-center sw mt-5 mb-5 fw-bolder h1">Welcome! <br>Remember to stay worldly</h1>

<div class="text-center text-white mb-5">
    {% if 'username' not in session %}
    <!-- show log in/register message -->
    <p class="h2 ol">Log in or register to find your next adventure!</p>
    {% else %}
    <!-- show search for a city form -->
    <form method="POST">
        <span class="h2 ol">Find your next adventure: </span>
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span>{{ error }}</span>
        {% endfor %}
        {{field(placeholder='Search for any city!', class='btn border-white text-white')}}
        {% endfor %}
        <button class="btn border-white text-white">Submit</button>

    </form>
    <div>
        <!-- list to show search results  -->
        <ul class="list-unstyled">
            {% for city in cities %}
            <li><a class="text-white h4 fw-bolder loadbtn" href="/city/{{city[0]}}">{{city[0]}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<!-- show city examples -->
<div class="text-center text-white containter-fluid ">
    <span class="h2 ol">Cities saved by other users:</span>
    <div class="row justify-content-center">
        {% if 'username' not in session %}
            {% for city in all_user_cities %}
            <div class="card col-9 col-lg-4 col-xl-3 p-0 bg-black m-3 mb-4 text-center">
                    <img class="card-img img-fluid" src="{{city.city_image}}">
                    <div class="card-img-overlay">
                        <span class="card-title text-white ol fw-bolder h1">{{city}}</span>
                    </div>
            </div>
            {% endfor %}
        {% else %}
            {% for city in all_user_cities %}
            <!-- generate city card -->
            <div class="card col-9 col-lg-4 col-xl-3 p-0 bg-black m-3 mb-4 text-center">
                    <a href="/city/{{city}}" class="loadbtn">
                        <img class="card-img img-fluid" src="{{city.city_image}}">
                        <div class="card-img-overlay">
                            <span class="card-title text-white ol fw-bolder h1">{{city}}</span>
                        </div>
                    </a>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}