{% extends 'base.html' %}
{% block content %}
<div class="text-center">
    <h2 class="m-5 text-white sw h1">Welcome back to Stay Worldly</h2>
    <form method="POST" id="user_form" class="text-white" action="/login">
      <!-- remove this to get rid pf {} in login -->
      {{ form.errors }}
      <!-- show all fields in form expect for hidden ones -->
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span>{{ error }}</span>
        {% endfor %}
        {{field.label(class="h2")}}
        {{field(class="m-2 btn border-white")}}
        <br>
      {% endfor %}
    </form>
  </div>
{% endblock %}
