{% extends 'base.html' %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <script>
      $(document).ready(function() {
         $('form').submit(function(event) {
            event.preventDefault();
            $.ajax({
               type: 'POST',
               url: '/register',
               data: $('form').serialize(),
               success: function() {
                  $('#username').val('');
                  $('#password').val('');
                  alert('Registration Successful!');
               }
            });
         });
      });
   </script>
{% endblock %}

{% block content %}
<div class="text-center">
    <h2 class="m-5 text-white sw h1">Join Stay Worldly</h2>
    <form method="POST" id="user_form" class="text-white h2">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span>{{ error }}</span>
        {% endfor %}
        {{field.label}}
        {{field(placeholder=field.label.text, class="m-2 btn  text-white border-white")}}
        <br>
      {% endfor %}

      <button class=" text-white m-2 btn border-white">Register</button>
    </form>
  </div>
{% endblock %}