{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <h2 class="m-5 text-white sw h1">Join Stay Worldly</h2>
    <form method="POST" id="user_form" class="text-white h2" action="/register">
      <!-- show all fields in form expect for hidden ones -->
      {{ form.hidden_tag() }}
      <!-- remove this to get rid pf {} in login -->
      {{ form.errors }}


      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span>{{ error }}</span>
        {% endfor %}
        {{field.label}}
        {{field(placeholder=field.label.text, class="m-2 btn  text-white border-white")}}
        <br>
      {% endfor %}

      <input type="submit" class="text-white m-2 btn border-white z-100" value="Register">
    </form>
  </div>
{% endblock %}