{% extends 'base.html' %}
{% block content %}
<h1 class="text-center sw text-white h1 m-5">Stay worldly {{user.username}}</h1>
<div class="text-end m-2 position-absolute end-0">
    <h2>User Information</h2>
    <ul class="list-unstyled">
        <li> First Name: {{user.first_name}}</li>
        <li> Last Name: {{user.last_name}}</li>
        <li> Employer Timezone: UTC{{user.employer_timezone}}</li>
    </ul>
    <button><a href="/user/{{user.id}}/edit">Edit User</a></button>
</div>
<div class="text-center px-4 containter-fluid">
    <span class="h2 sw">Future Adventures:</span>
    <div class="row gx-5 justify-content-center"> 
    {% for city in to_visit %}
        <div class="card col-4 p-1 bg-black m-1 text-center">
            <a href="/city/{{city}}">
                <img class="card-img" src="{{city.city_image}}">
                <div class="card-img-overlay">
                    <span class="card-title text-white outline h1">{{city}}</span>
                    <form action="/remove/{{city.id}}" method="POST">
                        <button class="delete_u_city btn text-white position-absolute end-0 bottom-0">Remove</button>
                    </form>
                    <form action="/city/{{city.id}}/visted" method="POST">
                        <button class="position-absolute btn text-white start-0 bottom-0">Mark as visited</button>
                    </form>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>

<div class="text-center px-4 containter">
    <span class="h2 sw">Past Adventures:</span>
    <div class="row gx-5"></div>
    {% for city in visited %}
        <div class="card col-8 p-1 bg-black m-1 text-center">
            <a href="/city/{{city}}">
                <img class="card-img" src="{{city.city_image}}">
                <div class="card-img-overlay">
                    <span class="card-title text-white outline h1">{{city}}</span>
                    <form action="/city/{{city.id}}/notvisited" method="POST">
                        <button class="position-absolute btn text-white start-0 bottom-0">Mark as not visited</button>
                    </form>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}